<template>
    <main class="container d-flex">
        <div id="mesFruits">

            <div class="row">

                <div class="card m-2" style="width: 12rem;" v-for="myData of fruits">
                    <img :src="myData.image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ myData.nom }}</h5>
                        <p class="card-text"><span class="prix">prix</span> : {{ myData.prixHT }} $</p>
                        <p class="card-text"><span class="prix">quantite</span> : {{ myData.quantite }} $</p>
                        <div class="d-flex justify-content-end">
                            <a @click.prevent="myData.quantite--" v-if="myData.quantite > 0"
                                class="btn btn-danger mesBoutons">-</a>
                            <a @click.prevent="myData.quantite++" class="btn btn-primary mesBoutons">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="monTableau">
            <h2>panier</h2>
            <div class="row">
                <div class="col-12 row">
                    <div class="col-3 titreTableau">
                        <p>Article</p>
                    </div>
                    <div class="col-3 titreTableau">
                        <p>prix</p>
                    </div>
                    <div class="col-4 titreTableau">
                        <p>quantite</p>
                    </div>
                    <div class="col-2 titreTableau">
                        <p>total</p>
                    </div>
                </div>
                <div v-for="fruit of fruits">
                    <div class="col-12 row" v-if="fruit.quantite > 0">
                        <div class="col-3 titreTableau">
                            <p>{{ fruit.nom }}</p>
                        </div>
                        <div class="col-3 titreTableau">
                            <p>{{ fruit.prixHT }} $</p>
                        </div>
                        <div class="col-4 titreTableau">
                            <p>{{ fruit.quantite }}</p>
                        </div>
                        <div class="col-2 titreTableau">
                            <p>{{ fruit.prixHT * fruit.quantite }} $</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 row">
                    <div class="col-6 titreTableau">
                        <p>Quantité d'article total : {{ fruits.reduce((accumulator, currentValue) => accumulator + currentValue.quantite, 0) }}</p>
                    </div>
                    <div class="col-6 titreTableau">
                        <p>Prix total : {{ fruits.reduce((accumulator, currentValue) => accumulator + currentValue.quantite * currentValue.prixHT, 0) }} $</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script setup lang="ts">
import { ref } from 'vue';

let fruits = ref([
    { image: 'https://media.istockphoto.com/id/1452520286/fr/vectoriel/vecteur-de-mangue-mangue-sur-fond-blanc-symbole-conception-du-logo-dessert-tha%C3%AFlandais.jpg?s=612x612&w=0&k=20&c=j5pqS2s_MMewRonU24wf-Hwb8TFFEKJQmyMwmVllZ4Q=', prixHT: 19, nom: 'Mangue', quantite: 0 },
    { image: 'https://media.gettyimages.com/id/1296379574/fr/vectoriel/fruit-rouge-de-framboise-disolement-sur-le-blanc.jpg?s=612x612&w=gi&k=20&c=fj5Eo1wtLdDS550ya4VO1iMn-uHic2QvBJnA6TGccl8=', prixHT: 9, nom: 'Frambroise', quantite: 0 },
    { image: 'https://img.freepik.com/vecteurs-premium/regime-bananes-vecteur-illustration-dessin-anime_650087-313.jpg?w=2000', prixHT: 8, nom: 'Banane', quantite: 0 },
    { image: 'https://img.freepik.com/vecteurs-libre/pomme-rouge-isole-fond-blanc_1308-81536.jpg', prixHT: 19, nom: 'Pomme', quantite: 0 },
    { image: 'https://img.freepik.com/vecteurs-libre/illustration-dessin-anime-fruits-raisin-style-bande-dessinee-plat_138676-2877.jpg', prixHT: 7, nom: 'Raisin', quantite: 0 },
    { image: 'https://img.freepik.com/vecteurs-libre/illustration-orange-colore-dessine-main_53876-2977.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699142400&semt=ais', prixHT: 64, nom: 'Orange', quantite: 0 }])



let total = ref(0);
fruits.value.forEach(fruit => {
    total.value += fruit.quantite;
});

function getPrixTotal() {
    let total = 0;
    fruits.value.forEach(fruit => {
        total += fruit.prixHT * fruit.quantite;
    });
    return total;
}
</script>

<style scoped>
.prix {
    color: rgb(44, 12, 12);
    font-weight: bold;
}

#mesFruits {
    width: 50vw;
}

.mesBoutons {
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.monTableau {
    width: 50vw;
}

.titreTableau {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 1px solid black;
}

.monTableau p {
    margin: 0;
}
</style>