<template>
      <Header />
  <main>
    <router-view></router-view>
</main>
</template>

<script setup lang="ts">
import Header from '@/components/Header.vue';
import { RouterView } from 'vue-router';


</script>